body {
  margin: 0;
  font-family: sans-serif;
}

#map {
  height: 90vh;
  width: 100%;
  display: none; /* Hide until tracking starts */
}

button {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#status {
  margin-left: 10px;
  font-weight: bold;
}
